{% extends 'base_layout.html.twig' %}
{% import 'project/_macro.html.twig' as mProject %}

{% block title %}{{ parent() }} - {% trans %}dashboard{% endtrans %}{% endblock %}
{% block page_title%}{% trans %}dashboard{% endtrans %}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    <section id="projects">
        {% if is_granted("PERM_PROJECT_CREATE") %}
            {% set projects = projects|merge(['create']) %}
        {% endif %}
        {% for project in projects %}
            {% if loop.index0 is divisible by(4) %}
                <div class="row">
            {% endif %}
            <div class="col-md-3">
                {% if project != 'create' %}
                    {{ mProject.snippet(project, 500) }}
                {% else %}
                    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                        {% block box_title %}
                            {{ 'project.new_project'|trans }}
                        {% endblock %}
                        {% block box_body %}
                            <div class="text-center">
                                <a class="btn btn-success btn-lg" href="{{ path('project.create') }}">{{ 'project.create'|trans }}</a>
                            </div>
                        {% endblock %}
                    {% endembed %}
                {% endif %}
            </div>
            {% if loop.index is divisible by(4) %}
                </div>
            {% endif %}
        {% endfor %}
        {% if has_more_projects %}
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                <div class="panel panel-default more-project-block">
                    <div class="panel-body">
                        <div class="text-center">
                            <h4><a href="{{ path('project.list') }}">{{ 'menu.projects'|trans }}</a></h4>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        {% endif %}
    </section>

    <div class="row">
        <div class="col-md-4">
            <section id="latest_task">
                {% if tasks|length > 0 %}
                {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                    {% import 'task/_macro.html.twig' as mTask %}
                    {% block box_title %}{% trans %}Tasks{% endtrans %}:{% endblock %}
                    {% block box_body %}
                        <ul class="list-unstyled">
                            {%  for task in tasks %}
                                <li>
                                    {{ mTask.badge(task, true, true, 60) }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endblock %}
                {% endembed %}
                {% endif %}
            </section>
        </div>
        <div class="col-md-4">
            <section id="latest_docs">
                {% if docs|length > 0 %}
                {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                    {% import 'doc/_macro.html.twig' as mDoc %}
                    {% block box_title %}{% trans %}Documents{% endtrans %}:{% endblock %}
                    {% block box_body %}
                        <ul class="list-unstyled">
                            {% for doc in docs %}
                                <li>
                                    <b>{{ doc.docId }}</b> - {{ mDoc.caption(doc, 60) }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endblock %}
                {% endembed %}
                {% endif %}
            </section>
        </div>
        <div class="col-md-4">
            <section id="latest_users">
                {% if users|length > 0 and app.user %}
                {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                    {% import 'user/_macro.html.twig' as mUser %}
                    {% block box_title %}{% trans %}Users{% endtrans %}:{% endblock %}
                    {% block box_body %}
                        <ul class="list-unstyled">
                            {% for user in users %}
                                <li>
                                    <b>{{ mUser.badge(user) }}</b> - {{ role_label_list(user.roles, 100) }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endblock %}
                {% endembed %}
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}