{% extends 'base_layout.html.twig' %}
{% import 'project/_macro.html.twig' as mProject %}

{% block title %}{{ parent() }} - {% trans %}dashboard{% endtrans %}{% endblock %}
{% block page_title%}{% trans %}dashboard{% endtrans %}{% endblock %}

{% block page_content %}
    <div class="row row-cards row-cols-xxl-4 row-cols-xl-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1">
        {% if is_granted("PERM_PROJECT_CREATE") %}
            {% set projects = projects|merge(['create']) %}
        {% endif %}
        {% for project in projects %}
            <div class="col-xs-12">
                {% if project != 'create' %}
                    {% include 'project/_project_block.twig' with { 'project':project, 'descriptionLength': 250 } %}
                {% else %}
                    <div class="card">
                        <div class="card-status-top bg-green"></div>
                        <div class="card-header card-header-light">
                            <h3 class="card-title">
                                {{ 'project.new_project'|trans }}
                            </h3>
                        </div>
                        <div class="card-body">
                                <div class="text-center">
                                    <a class="btn btn-success btn-lg" href="{{ path('project.create') }}">{{ 'project.create'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% if has_more_projects %}
        <div class="row row-cards justify-content-center">
            <div class="col-md-10">
                <div class="card more-project-block">
                    <div class="card-body text-center">
                            <h4><a href="{{ path('project.list') }}">{{ 'menu.projects'|trans }}</a></h4>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row row-cards ">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                {% import 'task/_macro.html.twig' as mTask %}
                <div class="card-header">
                    <h3 class="card-title">
                        {% trans %}Tasks{% endtrans %}:
                    </h3>
                </div>
                <div class="card-table table-responsive condensed-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="no">#</th>
                                <th class="caption">{{ 'task.caption.label'|trans }}</th>
                                <th>{{ 'task.updated.label'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {%  for task in tasks %}
                            <tr>
                                <td class="no">{{ mTask.no(task) }}</td>
                                <td class="caption">
                                    {{ mTask.caption(task, 80) }}
                                    {{ badges(task, ['task.type']) }}
                                </td>
                                <td>{{ task.updatedAt|ago }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                {% import 'doc/_macro.html.twig' as mDoc %}
                <div class="card-header">
                    <h3 class="card-title">
                        {% trans %}Documents{% endtrans %}:
                    </h3>
                </div>
                <div class="card-table table-responsive condensed-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="no">#</th>
                                <th class="caption">{{ 'doc.caption.label'|trans }}</th>
                                <th>{{ 'doc.updated.label'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for doc in docs %}
                            <tr>
                                <td class="no">
                                    <a class="invisible_link"
                                       href="{{ path('doc.index', doc.getUrlParams) }}"
                                    >
                                        {{ doc.no }}
                                    </a>
                                </td>
                                <td class="caption">{{ mDoc.caption(doc, 80) }}</td>
                                <td>{{ doc.updatedAt|ago }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{#        <div class="col-lg-2 col-xs-12">#}
{#            <div class="card">#}
{#                {% import 'user/_macro.html.twig' as mUser %}#}
{#                <div class="card-body">#}
{#                    <h3 class="card-title">#}
{#                        {% trans %}Users{% endtrans %}:#}
{#                    </h3>#}
{#                    {% if app.user %}#}
{#                        <ul class="list-unstyled">#}
{#                            {% for user in users %}#}
{#                                <li>#}
{#                                    <b>{{ mUser.badge(user) }}</b> - {{ role_label_list(user.roles, 100) }}#}
{#                                </li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                    {% endif %}#}
{#                    {% if users|length == 0 %}#}
{#                        <div style="height: 4rem;">&nbsp;</div>#}
{#                    {% endif%}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
{% endblock %}