{% extends 'base_layout.html.twig' %}
{% import 'project/_macro.html.twig' as mProject %}

{% block title %}{{ parent() }} - {% trans %}dashboard{% endtrans %}{% endblock %}
{% block page_title%}{% trans %}dashboard{% endtrans %}{% endblock %}

{% block page_content %}
    <div class="row row-cards row-cols-xl-4 row-cols-lg-3 row-cols-md-2">
        {% if is_granted("PERM_PROJECT_CREATE") %}
            {% set projects = projects|merge(['create']) %}
        {% endif %}
        {% for project in projects %}
            <div class="col">
                {% if project != 'create' %}
                    {% include 'project/_project_block.twig' with { 'project':project, 'descriptionLength': 500 } %}
                {% else %}
                    <div class="card">
                        <div class="card-status-top bg-green"></div>
                        <div class="card-header card-header-light">
                            <h3 class="card-title">
                                {{ 'project.new_project'|trans }}
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="col-sm">
                                    <a class="btn btn-success btn-lg" href="{{ path('project.create') }}">{{ 'project.create'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% if has_more_projects %}
        <div class="row row-cards">
            <div class="col-md-offset-1 col-md-10">
                <div class="card more-project-block">
                    <div class="card-body">
                        <div class="text-center">
                            <h4><a href="{{ path('project.list') }}">{{ 'menu.projects'|trans }}</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row row-cards row-cols-xl-3 row-cols-lg-2 row-cols-md-1">
        <div class="col">
            <div class="card">
                {% import 'task/_macro.html.twig' as mTask %}
                <div class="card-body">
                    <h3 class="card-title">
                        {% trans %}Tasks{% endtrans %}:
                    </h3>
                    <ul class="list-unstyled">
                        {%  for task in tasks %}
                            <li class="text-truncate">{{ mTask.taskLink(task) }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                {% import 'doc/_macro.html.twig' as mDoc %}
                <div class="card-body">
                    <h3 class="card-title">
                        {% trans %}Documents{% endtrans %}:
                    </h3>
                    <ul class="list-unstyled">
                        {% for doc in docs %}
                            <li class="text-truncate">
                                <b>{{ doc.docId }}</b> - {{ mDoc.caption(doc, 60) }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                {% import 'user/_macro.html.twig' as mUser %}
                <div class="card-body">
                    <h3 class="card-title">
                        {% trans %}Users{% endtrans %}:
                    </h3>
                {% if users|length > 0 and app.user %}
                    <ul class="list-unstyled">
                        {% for user in users %}
                            <li>
                                <b>{{ mUser.badge(user) }}</b> - {{ role_label_list(user.roles, 100) }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}