<div class="container divide-y">
    {% import 'user/_macro.html.twig' as mUser %}
    <div class="row">
        <div class="card">
            {% if form is not null %}
                {{ form_start(form) }}
                    <div class="card-body">
                        <div class="col">
                            {{ form_row(form.message) }}
                        </div>

                        <button type="submit" class="btn btn-outline-success">{{ 'Post'|trans }}</button>
                    </div>
                {{ form_end(form) }}

            {% else %}
                <div class="text-warning center-block">{{ 'Only_for_authorized.comment'|trans }}</div>
            {% endif %}
        </div>
    </div>
    {% for comment in comments %}
        <div class="row">
            <span class="comment-head">
                <strong class="me-1">{{ mUser.badge(comment.author) }}</strong>
                <span class="text-secondary">{{ 'comment.createdAt.in_widget'|trans }} {{ comment.createdAt|ago }}</span>
            </span>
            <div class="card-body comment-message markdown">{{ comment.message|markdown_to_html }}</div>
        </div>
    {% endfor %}
</div>