<ul class="list-unstyled comment-list">
    {% import 'user/_macro.html.twig' as mUser %}
    <li>
        {% if form is not null %}
            <div class="comment-form">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_widget(form.message) }}
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-success">{{ 'Post'|trans }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        {% else %}
            <div class="text-warning center-block">{{ 'Only_for_authorized.comment'|trans }}</div>
        {% endif %}
    </li>
    {% for comment in comments %}
        <li>
            <span class="comment-head">
                {{ 'comment.author.label'|trans }}: {{ mUser.badge(comment.author) }};
                {{ 'comment.createdAt.in_widget'|trans }} {{ comment.createdAt|ago }};
            </span>
            <div class="comment-message">{{ comment.message|markdown_to_html }}</div>
        </li>
    {% endfor %}
</ul>