<div class="container divide-y-2 comment-widget">
    {% import 'user/_macro.html.twig' as mUser %}
    <div class="row">
        {% if form is not null %}
            {{ form_start(form) }}
                <div class="col">
                    {{ form_row(form.message) }}
                </div>

                <div class="text-end">
                    <button type="submit" class="btn btn-outline-success">{{ 'Post'|trans }}</button>
                </div>
            {{ form_end(form) }}
        {% else %}
            <div class="card card-body">
                <div class="text-danger center-block">{{ 'Only_for_authorized.comment'|trans }}</div>
            </div>
        {% endif %}
    </div>
    {% for comment in comments %}
        <div class="row">
            <span class="comment-head">
                <strong class="me-1">{{ mUser.badge(comment.author) }}</strong>
                <span class="text-secondary">{{ 'comment.createdAt.in_widget'|trans }} {{ comment.createdAt|ago }}</span>
            </span>
            <div class="comment-message markdown">{{ comment.message|markdown_to_html }}</div>
        </div>
    {% endfor %}
</div>