<ul class="list-unstyled comment-list">
    {% import 'user/_macro.html.twig' as mUser %}
    <li class="comment-form">
        {% if form is not null %}
            <div class="container w-100">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.message) }}
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col ">
                        <button type="submit" class="btn btn-outline-success">{{ 'Post'|trans }}</button>
                    </div>
                </div>
            {{ form_end(form) }}
            </div>
        {% else %}
            <div class="text-warning center-block">{{ 'Only_for_authorized.comment'|trans }}</div>
        {% endif %}
    </li>
    {% for comment in comments %}
        <li>
            <span class="comment-head">
                {{ 'comment.author.label'|trans }}: {{ mUser.badge(comment.author) }};
                {{ 'comment.createdAt.in_widget'|trans }} {{ comment.createdAt|ago }};
            </span>
            <div class="comment-message">{{ comment.message|markdown_to_html }}</div>
        </li>
    {% endfor %}
</ul>