{% macro no(task) %}
    {% if task.isClosed() %}<s>{% endif %}
    <a class="invisible_link" href="{{ path('task.index', {'taskId': task.taskId}) }}">{{ task.no }}</a>
    {% if task.isClosed() %}</s>{% endif %}
{% endmacro %}

{% macro caption(task, limit = null) %}
    {% if task.isClosed() %}<s>{% endif %}
    <a class="invisible_link" href="{{ path('task.index', {'taskId': task.taskId}) }}">
        {% set label = task.caption %}
        {% if limit %}{% set label = label|u.truncate(limit, '...') %}{% endif %}
        {{ label }}
    </a>
    {% if task.isClosed() %}</s>{% endif %}
{% endmacro %}

{% macro badge(task, withName = false, link = false) %}
    {% if link %}
        <a class="invisible_link" href="{{ path('task.index', {'taskId': task.taskId}) }}">
    {% endif %}
    <span {{ task.isClosed ? 'class="task-closed"' }}>
        <i class="fa fa-tasks-alt"></i>
        {% import _self as this %}
        <b>{{ task.taskId }}</b>
        {% if withName %}
            - {{ this.caption(task, 100) }}
            {% if task.isClosed %}<span class="label label-default">{{ 'closed'|trans }}</span>{% endif %}
        {% endif %}
    </span>
    {% if link %}
        </a>
    {% endif %}
{% endmacro %}

{% macro table(tasks) %}
    {% import _self as this %}
    {% import 'user/_macro.html.twig' as mUser %}
    <table class="table table-condensed">
        <tr>
            <th>#</th>
            <th>{{ 'task.caption.label'|trans }}</th>
            <th>{{ 'task.type.label'|trans }}</th>
            <th>{{ 'task.assignedTo.label'|trans }}</th>
            <th>{{ 'task.updated.label'|trans }}</th>
        </tr>
        {%  for task in tasks %}
            <tr>
                <td>{{ this.no(task) }}</td>
                <td>{{ this.caption(task, 80) }}</td>
                <td>{{ dictionary(task, 'type') }}</td>
                <td>{{ mUser.badge(task.assignedTo) }}</td>
                <td>{{ task.updatedAt|ago }}</td>{# localizeddate('medium', 'medium') #}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro close_task_modal(task) %}
    <div class="modal fade" id="modalConfirmClose" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'confirm.title'|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% set form = comment_add_form() %}
                {{ form_start(form, {'attr': {'class': 'closeTaskForm'}}) }}
                <div class="modal-body">
                    <div class="close-message">{{ 'task.close.confirm'|trans|nl2br }}</div>
                    <div class="comment-form">
                        {{ form_widget(form.message) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" data-dismiss="modal">{{ 'confirm.yes'|trans }}</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'confirm.no'|trans }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endmacro %}