{% macro no(task, style = null) %}
    <span class="task {{ task.isClosed ? 'task-closed' }}">
    <a class="task-link"
       {{ (style ? 'style="'~style~'"' : '')|raw }}
       href="{{ path('task.index', {'taskId': task.taskId}) }}"
    >
        {{ task.no }}
    </a>
    </span>
{% endmacro %}

{% macro caption(task, limit = null) %}
    <span class="task {{ task.isClosed ? 'task-closed' }}">
        <a class="task-link" href="{{ path('task.index', {'taskId': task.taskId}) }}">
            {% set label = task.caption %}
            {% if limit %}{% set label = label|u.truncate(limit, '...') %}{% endif %}
            {{ label }}
        </a>
    </span>
{% endmacro %}

{% macro taskString(task, link = true) %}
<span class="task">
    {% if link %}
        <a class="task-link" href="{{ path('task.index', {'taskId': task.taskId}) }}">
    {% endif %}
        {{ icon('app-task') }}
        {% import _self as this %}
        <b {{ task.isClosed ? 'class="task-closed"' }}>{{ task.taskId }}</b>
            - {{ task.caption}}
{#                {{ badges(task) }}#}
    {% if link %}
        </a>
    {% endif %}
    </span>
{% endmacro %}

{% macro badge(task, link = true) %}
    <span class="task {{ task.isClosed ? 'task-closed' }}">
        {%- if link -%}
            <a class="task-link" href="{{ path('task.index', {'taskId': task.taskId}) }}">
        {%- endif -%}
            <b>{{- task.taskId -}}</b>
        {%- if link -%}
            </a>
        {%- endif -%}
    </span>
{% endmacro %}

{% macro close_task_modal(task) %}
    <div class="modal fade" id="modalConfirmClose" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'confirm.title'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {% set form = task_close_form(task) %}
                {% form_theme form 'form_condensed_theme.html.twig' %}
                {{ form_start(form, {'attr': {'class': 'closeTaskForm'}}) }}
                <div class="modal-body">
                    <div class="close-message">{{ 'task.close.text'|trans|nl2br }}</div>
                    {% if dictionary_enabled(task, 'stage') %}
                        <div class="close-stage">
                            {{ form_row(form.stage) }}
                        </div>
                    {% endif %}
                    <div class="close-comment">
                        {{ form_row(form.comment) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn me-auto" data-bs-dismiss="modal">{{ 'confirm.no'|trans }}</button>
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal">{{ 'confirm.yes'|trans }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endmacro %}