{% extends 'base.html.twig' %}
{% import 'project/macro.html.twig' as mProject %}

{% block title %}{% trans %}task.create{% endtrans %}{% endblock %}
{% block page_title%}
    {% set current_project = project_manager.currentProject(app.request) %}
    {% if current_project %}{{ mProject.badge(current_project) }} - {% endif %}
    {% trans %}task.create{% endtrans %}
{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    {{ form_start(form) }}
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_title %}
            {# пока это повторяет заголовок, но может это будет многостраницчный мастер, и десь будет описание шага #}
        {% endblock %}
        {% block box_body %}
            {{ form_row(form.caption) }}
            {{ form_row(form.project) }}
            {{ form_row(form.description) }}
            <hr>
            <button type="submit" class="btn btn-success">{{ 'Create'|trans }}</button>
        {% endblock %}
    {% endembed %}
    {{ form_end(form) }}
{% endblock %}