{% extends 'base_layout.html.twig' %}
{% import 'project/_macro.html.twig' as mProject %}

{% block title %}{{ 'task.create'|trans }}{% endblock %}
{% block page_title%}
    {{ mProject.badge(project_context.project) }} - {{ 'task.create'|trans }}
{% endblock %}

{% block page_content %}
<div class="row row-cards">
    <div class="col-xl-9 col-lg-12">
        <div class="card">
            {{ form_start(form) }}
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-2">
                        {{ form_label(form.caption) }}
                    </div>
                    <div class="col-md-10">
                        {{ form_widget(form.caption) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        {{ form_row(form.description) }}
                    </div>
                    <div class="col-md-4 form-right-column">
                        {% if form.stage is defined %}
                            {{ form_row(form.stage) }}
                        {% endif %}
                        {% if form.type is defined %}
                            {{ form_row(form.type) }}
                        {% endif %}
                        {% if form.priority is defined %}
                            {{ form_row(form.priority) }}
                        {% endif %}
                        {% if form.complexity is defined %}
                            {{ form_row(form.complexity) }}
                        {% endif %}
                        {{ form_row(form.assignedTo) }}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success">{{ 'Create'|trans }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}