{% extends 'one_block_layout.html.twig' %}

{% block title %} {{ task.taskId }} - {{ 'task.edit'|trans }} {% endblock %}
{% block page_title%}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block box_title %}
    {{ task.taskId }} - {{ 'task.edit'|trans }}
{% endblock %}
{% block box_body %}
    {{ form_start(form) }}
    {{ form_row(form.caption) }}
    {{ form_row(form.assignedTo) }}
    {{ form_row(form.description) }}
{% endblock %}

{% block box_footer %}
    <div class="pull-right">
        <button type="submit" class="btn btn-success">{{ 'Edit'|trans }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}