{% extends 'base_layout.html.twig' %}
{% import 'task/_macro.html.twig' as mTask %}


{% block title %} {{ task.taskId }} - {{ task.caption }} {% endblock %}
{% block page_title%}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-10">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% import 'project/_macro.html.twig' as mProject %}
                {% import 'task/_macro.html.twig' as mTask %}
                {% import 'user/_macro.html.twig' as mUser %}

                {% block box_title %}
                    {{ mTask.badge(task, true) }}
                {% endblock %}
                {% block box_body %}
                    <div class="row">
                        <div class="col-md-8">
                            {{ 'task.project.label'|trans }}: {{ mProject.badge(task.project, true, true) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ 'task.createdBy.label'|trans }}: {{ mUser.badge(task.createdBy) }}
                        </div>
                        <div class="col-md-4">
                            {{ 'task.created.label'|trans }}: {{ task.createdAt|ago }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ 'task.assignedTo.label'|trans }}: {{ mUser.badge(task.assignedTo) }}
                        </div>
                        <div class="col-md-4">
                            {{ 'task.updated.label'|trans }}: {{ task.updatedAt|ago }}
                        </div>
                    </div>
                    <hr>
                    <p>{{ task.description|markdown_to_html }}</p>
                {% endblock %}
            {% endembed %}
        </div>
        <div class="col-md-2">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}
                    {{ 'ControlPanel'|trans }}
                {% endblock  %}
                {% block box_body %}
                    <div class="btn-group-vertical" role="toolbar" aria-label="{{ 'ControlPanel'|trans }}">
                        {% if is_granted("PERM_TASK_EDIT") %}
                            <a class="btn btn-default btn-secondary" href="{{ path('task.edit', {'taskId':task.taskId}) }}">{{ 'Edit'|trans }}</a>
                        {% endif %}
                        {% if is_granted("PERM_TASK_CLOSE") %}
                            <button
                                    class="btn btn-secondary btn-warning need-confirm"
                                    data-action="{{ path('task.close', {'taskId':task.taskId}) }}"
                                    data-text="{{ 'task.close.confirm'|trans|nl2br }}"
                            >
                                {{ 'Close'|trans }}
                            </button>
                        {% endif %}
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
            {% block box_title %}
                {{ 'Works.title'|trans }}
            {% endblock %}
            {% block box_body %}
                <ul class="nav nav-tabs">
                    {% set currentTab = 'comments' %}{# app.request.query.get('works_tab') пока только одна вкладка #}
                    <li {% if currentTab == 'comments' %}class="active"{% endif %}>
                        <a href="{{ path('task.index', {'taskId': task.taskId, 'works_tab': 'comments'}) }}">{{ 'Works.comments'|trans }}</a>
                    </li>
                </ul>
                <div class="one-block-content">
                    {% if currentTab == 'comments' %}
                        {{ comment_widget(task) }}
                    {% endif %}
                </div>
            {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}