{% extends 'base.html.twig' %}

{% block title %}{{ project.suffix }} - {{ 'Task_list'|trans }}{% endblock %}
{% block page_title %}  {% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% import 'project/macro.html.twig' as mProject %}
        {% import 'task/macro.html.twig' as mTask %}

        {% block box_title %}
            {{ mProject.badge(project) }} - {{ 'Task_list'|trans }}
        {% endblock %}
        {% block box_body %}
{# @TODO починить отправку формы #}
{#            <nav class="navbar navbar-default">#}
{#                {{ form_start(filterForm, {'attr': {'class': 'autoupdate'}}) }}#}
{#                    <div class="col-md-2">#}
{#                        {{ form_widget(filterForm.addClosed) }}#}
{#                    </div>#}
{#                    <button type="submit">OK</button>#}
{#                {{ form_end(filterForm) }}#}
{#            </nav>#}
            {{ mTask.table(tasks) }}
            <hr>
            <nav class="text-center">
                {{ knp_pagination_render(tasks) }}
            </nav>
        {% endblock %}
    {% endembed %}
{% endblock %}