{% extends 'base_layout.html.twig' %}

{% block title %}{{ project.suffix }} - {{ 'Task_list'|trans }}{% endblock %}
{% block page_title %}  {% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% import 'project/_macro.html.twig' as mProject %}
        {% import 'task/_macro.html.twig' as mTask %}
        {% import 'user/_macro.html.twig' as mUser %}

        {% block box_title %}
            {{ mProject.badge(project) }} - {{ 'Task_list'|trans }}
        {% endblock %}
        {% block box_body %}
{# @TODO починить отправку формы #}
{#            <nav class="navbar navbar-default">#}
{#                {{ form_start(filterForm, {'attr': {'class': 'autoupdate'}}) }}#}
{#                    <div class="col-md-2">#}
{#                        {{ form_widget(filterForm.addClosed) }}#}
{#                    </div>#}
{#                    <button type="submit">OK</button>#}
{#                {{ form_end(filterForm) }}#}
{#            </nav>#}
            <table class="table table-condensed task-table">
                <colgroup>
                    <col class="task-col-no">
                    <col class="task-col-name">
                    <col>
{#                    <col>#}
                    <col>
{#                    <col>#}
                    <col>
                </colgroup>
                <tr>
                    <th scope="col">{{ knp_pagination_sortable(tasks, 'task.No'|trans, 't.no') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(tasks, 'task.caption.label'|trans, 't.caption') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(tasks, 'task.type.label'|trans, 't.type') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(tasks, 'task.priority.label'|trans, 't.priority') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(tasks, 'task.complexity.label'|trans, 't.complexity') }}</th>
{#                    <th scope="col">{{ knp_pagination_sortable(tasks, 'task.createdBy.label'|trans, 't.createdBy') }}</th>#}
                    <th scope="col">{{ knp_pagination_sortable(tasks, 'task.created.label'|trans, 't.createdAt') }}</th>
{#                    <th scope="col">{{ knp_pagination_sortable(tasks, 'task.assignedTo.label'|trans, 't.assignedTo') }}</th>#}
                    <th scope="col">{{ knp_pagination_sortable(tasks, 'task.updated.label'|trans, 't.updatedAt') }}</th>
                </tr>
                {%  for task in tasks %}
                    <tr>
                        {# здесь проставляем класс напрямую ячейке, потому что из col он не достается  #}
                        <td class="task-col-no">{{ mTask.no(task) }}</td>
                        <td>{{ mTask.caption(task, 160) }}</td>
                        <td>{{ dictionary_name(task, 'type', true) }}</td>
                        <td>{{ dictionary_name(task, 'priority', true) }}</td>
                        <td>{{ dictionary_name(task, 'complexity', true) }}</td>
{#                        <td>{{ mUser.badge(task.createdBy, true, false) }}</td>#}
                        <td>{{ task.createdAt|ago }}</td>
{#                        <td>{{ mUser.badge(task.assignedTo, true, false) }}</td>#}
                        <td>{{ task.updatedAt|ago }}</td>{# localizeddate('medium', 'medium') #}
                    </tr>
                {% endfor %}
            </table>
            <hr>
            <nav class="center-block">
                {{ knp_pagination_render(tasks) }}
            </nav>
        {% endblock %}
    {% endembed %}
{% endblock %}