{% extends 'base_layout.html.twig' %}

{% block title %}{{ project.suffix }} - {{ 'Task_list'|trans }}{% endblock %}
{% block page_title %}{{ 'Task_list'|trans }}{% endblock %}

{% block page_content %}
<div class="row row-cards">
    <div class="col">
        <div class="card">
        {% import 'project/_macro.html.twig' as mProject %}
        {% import 'task/_macro.html.twig' as mTask %}
        {% import 'user/_macro.html.twig' as mUser %}

            <div class="card-status-top bg-blue"></div>

            {# @TODO tndt-19 будет полностью переделана на гибкий набор фильтров #}
            {#            <nav class="navbar navbar-default">#}
            {#                {{ form_start(filterForm, {'attr': {'class': 'autoupdate'}}) }}#}
            {#                    <div class="col-md-2">#}
            {#                        {{ form_widget(filterForm.addClosed) }}#}
            {#                    </div>#}
            {#                    <button type="submit">OK</button>#}
            {#                {{ form_end(filterForm) }}#}
            {#            </nav>#}
            <div class="card-table table-responsive">
                <table class="table table-vcenter task-table">
                    <thead>
                        <tr>
                            <th class="no">{{ knp_pagination_sortable(tasks, 'task.No'|trans, 't.no') }}</th>
                            <th class="caption">{{ knp_pagination_sortable(tasks, 'task.caption.label'|trans, 't.caption') }}</th>
                            <th>
                                {% if dictionary_enabled(project, 'task.stage') %}
                                    {{ knp_pagination_sortable(tasks, 'task.stage.label'|trans, 't.stage') }}
                                {% else %}
                                    {{ knp_pagination_sortable(tasks, 'task.isClosed.label'|trans, 't.isClosed') }}
                                {% endif %}
                            </th>
                            {% if dictionary_enabled(project, 'task.type') %}
                                <th>{{ knp_pagination_sortable(tasks, 'task.type.label'|trans, 't.type') }}</th>
                            {% endif %}
                            {% if dictionary_enabled(project, 'task.priority') %}
                                <th >{{ knp_pagination_sortable(tasks, 'task.priority.label'|trans, 't.priority') }}</th>
                            {% endif %}
                            {% if dictionary_enabled(project, 'task.complexity') %}
                                <th>{{ knp_pagination_sortable(tasks, 'task.complexity.label'|trans, 't.complexity') }}</th>
                            {% endif %}
                            {#<th>{{ knp_pagination_sortable(tasks, 'task.createdBy.label'|trans, 't.createdBy') }}</th>#}
                            <th>{{ knp_pagination_sortable(tasks, 'task.created.label'|trans, 't.createdAt') }}</th>
                            {#<th>{{ knp_pagination_sortable(tasks, 'task.assignedTo.label'|trans, 't.assignedTo') }}</th>#}
                            <th>{{ knp_pagination_sortable(tasks, 'task.updated.label'|trans, 't.updatedAt') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {%  for task in tasks %}
                        <tr style="{{ dictionary_style(task, 'list_row') }}">
                            {# здесь проставляем класс напрямую ячейке, потому что из col он не достается  #}
                            <td class="no">{{ mTask.no(task, dictionary_style(task, 'list_row')) }}</td>
                            <td class="caption">
                                {% if task.isClosed() %}<s>{% endif %}
                                    <a class="invisible_link"
                                       style="{{ dictionary_style(task, 'list_row') }}"
                                       href="{{ path('task.index', {'taskId': task.taskId}) }}"
                                    >
                                        {% set label = task.caption|u.truncate(160, '...') %}
                                        {{ label }}
                                    </a>
                                {% if task.isClosed() %}</s>{% endif %}
                            </td>
                            <td>
                                {% if dictionary_enabled(project, 'task.stage') %}
                                    {{ dictionary_name(task, 'stage') }}
                                {% else %}
                                    {{ (task.isClosed ? 'closed' : 'open')|trans }}
                                {% endif %}
                            </td>
                            {% if dictionary_enabled(project, 'task.type') %}
                                <td>{{ dictionary_name(task, 'type') }}</td>
                            {% endif %}
                            {% if dictionary_enabled(project, 'task.priority') %}
                                <td>{{ dictionary_name(task, 'priority') }}</td>
                            {% endif %}
                            {% if dictionary_enabled(project, 'task.complexity') %}
                                <td>{{ dictionary_name(task, 'complexity') }}</td>
                            {% endif %}
                            {# <td>{{ mUser.badge(task.createdBy, true, false) }}</td>#}
                            <td>{{ task.createdAt|ago }}</td>
                            {# <td>{{ mUser.badge(task.assignedTo, true, false) }}</td>#}
                            <td>{{ task.updatedAt|ago }}</td>{# localizeddate('medium', 'medium') #}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                    <span class="m-0">
                        {{ knp_pagination_render(tasks) }}
                    </span>
            </div>
        </div>
    </div>
{% endblock %}