{% extends 'base_layout.html.twig' %}

{% block title %}{{ project.suffix }} - {{ 'Task_list'|trans }}{% endblock %}
{% block page_title %}{{ icon('fa fa-tasks', 'me-1') }} {{ 'Task_list'|trans }}{% endblock %}

{% block page_content %}
<div class="row row-cards">
    <div class="col">
        <div class="card task-table">
            <div class="card-body">
                <div class="hr-text task-filters-ctrl" >
                    <a data-bs-toggle="collapse" data-bs-target="#task-filters" href="#task-filters">{{ 'Filter'|trans }}</a>
                </div>
                <div id="task-filters" class="collapse">
                    <div class="row row-deck row-cards">
                        {{ include('table/_filters.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card task-table">
            <div class="card-status-top bg-blue"></div>
            <div class="card-table table-responsive">
                <table class="table table-vcenter">
                    <thead>
                        {{ include('table/_headers.html.twig') }}
                    </thead>
                    <tbody>
                        {{ include('table/_rows.html.twig') }}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <span class="m-0">
                    {{ include('table/_pagination.html.twig') }}
                </span>
            </div>
        </div>
    </div>
{% endblock %}