{% extends 'base_layout.html.twig' %}
{% trans_default_domain "errors" %}
{% block title %}{{ parent() }} - {{ status_label }}{% endblock %}
{% block page_title%}{% endblock %}

{% block page_content %}
<div class="col">
    <div class="card">
        <div class="card-status-top bg-danger"></div>
        <div class="card-header card-header-light">
            <h3 class="card-title">
                <b>{{ status_code }}</b> - {{ status_label }}
            </h3>
        </div>
        <div class="card-body">
            <p>
            {{ 'Error_page.message'|trans }}: {{ status_description }}
            </p>
        </div>
    </div>
</div>
{% endblock %}