{% extends 'base_layout.html.twig' %}

{% block title %} {{ user.username }} - {{ 'user.management.edit.title'|trans }}/{% block subtitle %}{% endblock %}{% endblock %}
{% block page_title%}{% block page_subtitle %}{% endblock %} - {{ user.username }}{% endblock %}

{% block page_content %}
<div class="row row-cards">
    <div class="col-xl-8 col-lg-10 col-md-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    {% set currentPage = app.request.attributes.get('_route') %}
                    <li class="nav-item">
                        <a class="nav-link {{ currentPage == 'user.management.edit.profile' ? 'active': '' -}}"
                           href="{{ path('user.management.edit.profile', {'username':user.username}) }}"
                        >
                            {{ 'user.management.edit.profile'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ currentPage == 'user.management.edit.permission' ? 'active': '' -}}"
                           href="{{ path('user.management.edit.permission', {'username':user.username}) }}"
                        >
                            {{ 'user.management.edit.permission'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                {% block edit_page_body %}
                {% endblock %}
            </div>
            <div class="card-footer">
                {% block edit_page_footer%}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}