{% extends 'base_layout.html.twig' %}

{% block title %} {{ user.username }} - {{ 'user.management.edit.title'|trans }}/{% block page_subtitle %}{% endblock %}{% endblock %}
{% block page_title%}{{ 'user.management.edit.title'|trans }}{% endblock %}

{% block page_content %}
<div class="row row-cards">
    <div class="col-xl-8 col-lg-10 col-md-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    {% set currentPage = app.request.attributes.get('_route') %}
                    <li class="nav-item">
                        <a class="nav-link {{ currentPage == 'user.management.edit' ? 'active': '' -}}"
                           href="{{ path('user.management.edit', {'username':user.username}) }}"
                        >
                            {{ 'user.management.edit.common'|trans }}
                        </a>
                    </li>
{#                    <li class="nav-item {{ currentPage == 'user.management.permission' ? 'active': '' -}}">#}
{#                        <a href="{{ path('user.management.permission', {'username':user.username}) }}">{{ 'user.management.edit.permission'|trans }}</a>#}
{#                    </li>#}
                </ul>
            </div>
            <div class="card-body">
                {% block edit_page_body %}
                {% endblock %}
            </div>
            <div class="card-footer">
                {% block edit_page_footer%}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}