{% extends 'one_block_layout.html.twig' %}

{% block title %} {{ user.username }} - {{ 'user.management.edit.title'|trans }}/{% block edit_page_title %}{% endblock %}{% endblock %}
{% block page_title%}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block box_title %}
    {{ user.username }} - {{ 'user.management.edit.title'|trans }}
{% endblock %}
{% block box_body %}
    <ul class="nav nav-tabs">
        {% set currentPage = app.request.attributes.get('_route') %}
        <li {% if currentPage == 'user.management.edit' %}class="active"{% endif %}>
            <a href="{{ path('user.management.edit', {'username':user.username}) }}">{{ 'user.management.edit.common'|trans }}</a>
        </li>
        <li {% if currentPage == 'user.management.permission' %}class="active"{% endif %}>
            {#<a href="{{ path('user.management.permission', {'username':user.username}) }}">{{ 'user.management.edit.permission'|trans }}</a>#}
        </li>
    </ul>
    <div class="one-block-content">
        {% block edit_page %}
        {% endblock %}
    </div>
{% endblock %}

{% block box_footer %}
    <div class="form-footer-buttons">
        <button type="submit" class="btn btn-success">{{ 'Edit'|trans }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}