{% extends 'base_layout.html.twig' %}

{% block title %}TnDT - {{ user.username }}{% endblock %}
{% block page_title%}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-10">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% import 'user/_macro.html.twig' as mUser %}
                {% block box_title %}
                    {{ mUser.badge(user, false, false) }}
                {% endblock %}
                {% block box_body %}
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    {{ 'user.username.label'|trans }}: {{ user.username }}
                                </div>
                                <div class="col-md-6">
                                    {{ 'user.createdAt.label'|trans }}: {{ user.createdAt|ago }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ 'user.name.label'|trans }}: {{ user.name(true) }}
                                </div>
                                <div class="col-md-6">
                                    {{ 'user.lastLogin.label'|trans }}:
                                    {% if user.lastLogin %}{{ user.lastLogin|ago }}{% else %}{{ 'Never_logined'|trans }}{% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ 'user.email.label'|trans }}: {{ user.email }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            {{ 'user.roles.label'|trans }}:
                            <ul>
                                {% for role in user.roles %}
                                    {% set role_label = role_label(role) %}
                                    {% if role_label %}
                                        <li>{{ role_label|raw }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
        <div class="col-md-2">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}
                    {{ 'ControlPanel'|trans }}
                {% endblock  %}
                {% block box_body %}
                    <div class="btn-group-vertical" role="toolbar" aria-label="{{ 'ControlPanel'|trans }}">
                        <div class="btn-group-vertical" role="group">
                            <a class="btn btn-default btn-secondary" href="{{ path('user.management.edit', {'username': user.username}) }}">{{ 'Edit_user'|trans }}</a>
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}