{% extends 'base_layout.html.twig' %}

{% block title %}TnDT {{ 'Administrate'|trans }} - {{ 'User_list'|trans }}{% endblock %}
{% block page_title %}{{ 'User_list'|trans }}{% endblock %}

{% block page_head_control %}
    <div class="btn-list">
        {% if is_granted("PERM_USER_CREATE") %}
            <a class="btn btn-outline-success" href="{{ path('user.management.create') }}">{{ 'Create_user'|trans }}</a>
        {% endif %}
    </div>
{% endblock %}

{% block page_content %}
    <div class="row row-cards">
        <div class="col">
            <div class="card">
                {% import 'user/_macro.html.twig' as mUser %}
                <div class="card-status-top bg-warning"></div>
                <div class="card-table table-responsive">
                    <table class="table table-vcenter">
                        <thead>
                            <tr>
                                <th>{{ knp_pagination_sortable(users, 'user.username.label'|trans, 'root.username') }}</th>
                                <th>{{ knp_pagination_sortable(users, 'user.name.label'|trans, 'root.name') }}</th>
                                <th>{{ knp_pagination_sortable(users, 'user.email.label'|trans, 'root.email') }}</th>
                                <th>{{ knp_pagination_sortable(users, 'user.locked.table_head'|trans, 'root.locked') }}</th>
                                <th>{{ 'user.roles.label'|trans }}</th>
                                <th>{{ knp_pagination_sortable(users, 'user.createdAt.label'|trans, 'root.createdAt') }}</th>
                                <th>{{ knp_pagination_sortable(users, 'user.lastLogin.label'|trans, 'root.lastLogin') }}</th>
                                <th>{{ 'user.controls.label'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {%  for user in users %}
                            <tr>
                                <td><a href="{{ path('user.management.index', {'username': user.username}) }}" class="invisible_link">
                                    {{ mUser.badge(user, false) }}
                                </a></td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td class="bool" title="{{ user.locked ? 'user.locked.label'|trans }}">{{ user.locked ? icon('user-off.svg') }}</td>
                                <td>{{ role_label_list(user.roles) }}</td>
                                <td>{{ user.createdAt|ago }}</td>
                                <td>{{ user.lastLogin|ago }}</td>
                                <td><a class="btn btn-default"
                                       href="{{ path('user.management.edit', {'username': user.username}) }}"
                                       title="{{ 'user.edit'|trans }}"
                                    >
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <span class="m-0">
                        {{ knp_pagination_render(users) }}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}