<div class="container-xl">
    <div class="row text-center align-items-center flex-row-reverse">
        <div class="col-lg-auto ms-lg-auto">
            <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item"><a class="link-secondary" href="{{ support_url }}" target="_blank">{{ 'Support'|trans }}</a></li>
                <li class="list-inline-item"><a class="link-secondary" href="{{ path('static', {'page':'changelog'}) }}" target="_blank">{{ 'Changelog'|trans }}</a></li>
            </ul>
        </div>
        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
            <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item">
                    Copyright &copy; 2021 - {{ app_version_year }}
                    <a class="link-secondary" href="http://demius.ru">demius</a>.
                    <a class="link-secondary" href="{{ path('static', {'page':'license'}) }}" target="_blank">MIT</a>.
                </li>
                <li class="list-inline-item">v. {{ app_version }}</li>
            </ul>
        </div>
    </div>
</div>