<div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu" aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="navbar-brand navbar-brand-autodark">
        <a href="{{ path('home') }}">
            Task & Doc Tracker
        </a>
    </h1>
    <div class="navbar-collapse collapse" id="sidebar-menu">
        <ul class="navbar-nav pt-lg-3">
        {% for item in sidebar() %}
            {% if item.isTree == false %}
                <li class="nav-item {{ item.isActive ? 'active' : '' }}">
                    <a class="nav-link" href="{{ item.action }}">
                        {% if item.icon %} <i class="nav-link-icon d-md-none{{ item.icon }}"></i> {% endif %}
                        <span class="nav-link-title">{{ item.label }}</span>
                    </a>
                </li>
            {% else %}
                <li class="nav-item dropdown {{ item.isActive ? 'active' : '' }}">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="true">
                        {% if item.icon %} <i class="nav-link-icon d-md-none {{ item.icon }}"></i> {% endif %}
                        <span class="nav-link-title">{{ item.label }}</span>
                    </a>
                    <div class="dropdown-menu">
                    {% for child in item.children %}
                        <a class="dropdown-item {{ child.isActive ? 'active': ''}}" href="{{ child.action }}>
                            {% if child.icon %} <i class="{{ child.icon }}"></i> {% endif %}
                            {{ child.label }}
                        </a>
                    {% endfor %}
                    </div>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>