{% macro progress(stat) %}
    <div class="d-flex justify-content-between">
        <div>{{ 'SystemStat.total'|trans }}: {{ stat.total }}</div>
    </div>
    <div class="progress">
        {% for part in stat.parts %}
            <div
                class="progress-bar {{ part.color ? 'bg-'~part.color : '' }}"
                style="width: {{ part.value }}%"
                role="progressbar"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="{{ ('SystemStat.'~part.name)|trans }}"
            >
                {% if part.value >= 37 %}{{ ('SystemStat.'~part.name)|trans }}: {% endif %}{{ part.value }}%
            </div>
        {% endfor %}
    </div>
{% endmacro %}