{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block title %}TnDT{% endblock %}
{% block logo_mini %}TnDT{% endblock %}
{% block logo_large %}TnDT{% endblock %}
{% block stylesheets %}
{#    {{ parent() }}#}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block javascripts %}
{#    {{ parent() }}#}
    {{ encore_entry_script_tags('app') }}
{# @TODO добавить при реализации умных выпадающих списков с поиском   #}
{#    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>#}
{% endblock %}

{% block page_content_before %}
    {% include 'modals.html.twig' %}
{% endblock %}

{% block navbar_start %}
    {% set current_project = project_manager.currentProject(app.request) %}
    <li>
        <a href="{{ (current_project) ? path('task.project_create', {'suffix':current_project.suffix}) : path('task.global_create') }}">{{ 'Create_task'|trans }}</a>
    </li>
    <li>
        <a href="{{ (current_project) ? path('doc.project_create', {'suffix':current_project.suffix}) : path('doc.global_create') }}">{{ 'Create_doc'|trans }}</a>
    </li>
    <li class="dropdown">
        {% set projects = project_manager.getPopularProjectsSnippets(5) %}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'Projects'|trans }} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            {% for project in projects %}
                <li>
                    <a href="{{ path('project.index', {'suffix': project.suffix}) }}">
                        {% if current_project and current_project.suffix == project.suffix %}
                            <i class="fa fa-check"></i>
                        {% else %}
                            <i class="fa fa-fw"></i>
                        {% endif %}
                        {{ project.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}

