{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block title %}TnDT{% endblock %}
{% block logo_mini %}<b>T</b>&<b>DT</b>{% endblock %}
{% block logo_large %}<b>Task</b>&<b>DocTracker</b>{% endblock %}
{% block stylesheets %}
{#    {{ parent() }}#}
    <link type="image/x-icon" rel="shortcut icon" href="{{ asset('build/images/favicon.ico') }}">
    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}" />
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block javascripts %}
{#    {{ parent() }}#}
    {{ encore_entry_script_tags('app') }}
{# @TODO добавить при реализации умных выпадающих списков с поиском   #}
{#    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>#}
{% endblock %}

{% block page_content_before %}
    {% include 'modals.html.twig' %}
{% endblock %}

{% block navbar_start %}
    {% set current_project = project_manager.currentProject(app.request) %}
    <li>
        <a href="{{ (current_project) ? path('task.project_create', {'suffix':current_project.suffix}) : path('task.global_create') }}">{{ 'Create_task'|trans }}</a>
    </li>
    <li>
        <a href="{{ (current_project) ? path('doc.project_create', {'suffix':current_project.suffix}) : path('doc.global_create') }}">{{ 'Create_doc'|trans }}</a>
    </li>
    <li class="dropdown">
        {% set projects = project_manager.getPopularProjectsSnippets(5) %}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'Projects'|trans }} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            {% for project in projects %}
                <li>
                    <a href="{{ path('project.index', {'suffix': project.suffix}) }}">
                        {% if current_project and current_project.suffix == project.suffix %}
                            <i class="fa fa-check"></i>
                        {% else %}
                            <i class="fa fa-fw"></i>
                        {% endif %}
                        {{ project.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
    {% if app.user is null %}
        <li>
            <a href="{{ path('app.login') }}">{{ 'Login'|trans }}</a>
        </li>
    {% endif %}
{% endblock %}
{% block navbar_messages %}
{% endblock %}
{% block navbar_notifications %}
{% endblock %}
{% block navbar_tasks %}
{% endblock %}
{% block navbar_user %}
    {% include 'user/navbar_menu.html.twig' %}
{% endblock %}
{% block navbar_end %}{% endblock %}
{% block navbar_control_sidebar_toggle %}
    {% if admin_lte_context.control_sidebar is defined and admin_lte_context.control_sidebar is not empty %}
        <li>
            <a href="#" data-toggle="control-sidebar"><i class="fas fa-cogs"></i></a>
        </li>
    {% endif %}
{% endblock %}

{% block sidebar_user %}
{% endblock %}
{% block sidebar_search %}
    {# @TODO вернуть когда будет реализован поиск по треккеру #}
{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}

