{% extends 'base_layout.html.twig' %}

{# Лейаут с одним большим Widget в котором помещается все содержимое страницы.
   Скопировано из @AdminLTE/Widgets/box-widget.html.twig и убрано то, что в данном случае точно никогда не пригодится.
    В отличие от использования виджета, этот шаблон нельзя исопльзовать несоклько раз на странице, зато можно наследовать от него подстраницы.
#}
{% block page_content %}
    {% import '@AdminLTE/Macros/buttons.html.twig' as button %}
    {% if block('box_before') is defined %}{{ block('box_before') }}{% endif %}

    {% set _solid     = admin_lte_context.widget.solid  %}
    {% set _border    = admin_lte_context.widget.bordered  %}

    <div class="box box-primary {{ _solid ? ' box-solid' : '' }}"{% if block('box_attributes') is defined %} {{ block('box_attributes') }}{% endif %}>
        {% if block('box_title') is defined %}
            <div class="box-header{{ _border ? ' with-border' : '' }}">
                {% if block('box_title') is defined %}<h3 class="box-title">{{ block('box_title') }}</h3>{% endif %}
                <div class="box-tools pull-right"{% if block('box_tools_attributes') is defined %} {{ block('box_tools_attributes') }}{% endif %}>
                    {# Buttons, labels, and many other things can be placed here! #}
                    {% if block('box_tools') is defined %}{{ block('box_tools') }}{% endif %}
                </div>
            </div>
        {% endif %}
        <div class="box-body{% if block('box_body_class') is defined %} {{ block('box_body_class') }}{% endif %}">{{ block('box_body') }}</div>
        {% if block('box_footer') is defined %}
            <div class="box-footer">
                {{ block('box_footer') }}
            </div>
        {% endif %}
    </div>
    {% if block('box_after') is defined %}{{ block('box_after') }}{% endif %}
{% endblock %}