{% extends 'auth/base.html.twig' %}

{% block title %}TnDT - {{ 'Login'|trans }}{% endblock %}

{% block page_content %}
<div class="card card-md">
    <div class="card-body">
        <h2 class="h2 text-center mb-4">{{ 'LoginTo'|trans }}</h2>
        <form action="{{ path('app.login') }}" method="post" autocomplete="off" novalidate="">
            <div class="mb-3">
                <label class="form-label">{{ 'user.username.label'|trans }}</label>
                <input name="_username" type="text" class="form-control" placeholder="{{ 'user.password.label'|trans }}" autocomplete="off" value="{{ last_username|default('') }}">
            </div>
            <div class="mb-2">
                <label class="form-label">
                    {{ 'user.password.label'|trans }}
                    <span class="form-label-description">
{#                    <a href="./forgot-password.html">I forgot password</a> после добавления mailer и писем #}
                  </span>
                </label>
                <div class="input-group input-group-flat">
                    <input name="_password" type="password" class="form-control" placeholder="{{ 'user.password.label'|trans }}" autocomplete="off">
                    <span class="input-group-text">
                    <a href="#" class="link-secondary" data-bs-toggle="tooltip" aria-label="Show password" data-bs-original-title="Show password"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"></path></svg>
                    </a>
                  </span>
                </div>
            </div>
            <div class="mb-2">
{#                <label class="form-check"> @todo tndt-18 #}
{#                    <input type="checkbox" class="form-check-input">#}
{#                    <span class="form-check-label">Remember me on this device</span>#}
{#                </label>#}
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="form-footer">
                <button type="submit" class="btn btn-primary w-100">{{ 'Login'|trans }}</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}