{% extends 'auth/base.html.twig' %}

{% block login_box_msg %}
    {{ 'Login'|trans([], 'security') }}
{% endblock %}

{% block login_box_error %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
{% endblock %}

{% block login_form %}
<form action="{{ path('app.login'|route_alias) }}" method="post">
    {% if app.user %}
        <div class="mb-3">
            {{ 'You are logged in as'|trans([], 'security') }}{{ app.user.username }}, <a href="{{ path('app.login') }}">{{ 'Logout'|trans([], 'security') }}</a>
        </div>
    {% endif %}

    <div class="form-group has-feedback">
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="{{ 'user.username.label'|trans }}" value="{{ last_username|default('') }}">
        <label for="inputUsername">
            <span class="fa fa-user form-control-feedback"></span>
        </label>
    </div>

    <div class="form-group has-feedback">
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="{{ 'user.password.label'|trans }}">
        <label for="inputPassword">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </label>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
        <div class="form-group">
            <input id="remember_me" name="_remember_me" type="checkbox">
            <label for="remember_me">{{ 'Remember Me'|trans({}, 'AdminLTEBundle') }}</label>
        </div>
    #}

    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">{{ 'Login'|trans({}, 'security') }}</button>
    </div>
</form>
{% endblock %}

{% block login_social_auth %}
    {# Пока не реализуем #}
{% endblock %}

{% block login_actions %}
{# @TODO когда будет майлер, - реализовтаь эти роуты #}
{#    {% if 'adminlte_password_reset'|route_alias != 'adminlte_password_reset' %}#}
{#        <a href="{{ path('adminlte_password_reset'|route_alias) }}">#}
{#            {{ 'I forgot my password'|trans({}, 'AdminLTEBundle') }}#}
{#        </a>#}
{#        <br>#}
{#    {% endif %}#}
{#    {% if 'adminlte_registration'|route_alias != 'adminlte_registration' %}#}
{#        <a href="{{ path('adminlte_registration'|route_alias) }}" class="text-center">#}
{#            {{ 'Register a new account'|trans({}, 'AdminLTEBundle') }}#}
{#        </a>#}
{#    {% endif %}#}
{% endblock %}