{% extends 'base.html.twig' %}
{% import 'project/macro.html.twig' as mProject %}

{% block title %}{{ parent() }} - {% trans %}dashboard{% endtrans %}{% endblock %}
{% block page_title%}{% trans %}dashboard{% endtrans %}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    <section id="projects">
        <h2 class="page-header"><a href="{{ path('project.list') }}">{% trans %}Projects{% endtrans %}</a>:</h2>
        <div class="row">
        {% for project in projects %}
            <div class="col-md-3">
                {{ mProject.snippet(project) }}
            </div>
        {% endfor %}
            <div class="col-md-3">
                {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                    {% block box_title %}
                        {{ 'project.new_project'|trans }}
                    {% endblock %}
                    {% block box_body %}
                        <a class="btn btn-success btn-lg" href="{{ path('project.create') }}">{{ 'project.create'|trans }}</a>
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-4">
            <section id="latest_task">
                {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                    {% block box_title %}{% trans %}Tasks{% endtrans %}:{% endblock %}
                    {% block box_body %}
                        <ul class="list-unstyled">
                        {% for task in tasks %}
                            <li>
                                <b>{{ task.taskId }}</b> - {{ task.caption(60)}}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endblock %}
                {% endembed %}
            </section>
        </div>
        <div class="col-md-4">
            <section id="latest_docs">
                {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                    {% block box_title %}{% trans %}Documents{% endtrans %}:{% endblock %}
                    {% block box_body %}
                        <ul class="list-unstyled">
{#                            {% for task in tasks %}#}
                                <li>
                                    <b>ABC#123</b> - Какой-то документ
                                </li>
                                <li>
                                    <b>ABC#456</b> - Какой-то ещё документ
                                </li>
                                <li>
                                    <b>PRJ#123</b> - Небольшие мысли по поводу дальнейшего развития
                                </li>
                                <li>
                                    <b>LTN#1053</b> - Lorem ipsum sit amet
                                </li>
{#                            {% endfor %}#}
                        </ul>
                    {% endblock %}
                {% endembed %}
            </section>
        </div>
        <div class="col-md-4">
            <section id="latest_users">
                {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                    {% block box_title %}{% trans %}Users{% endtrans %}:{% endblock %}
                    {% block box_body %}
                        <ul class="list-unstyled">
                            {#                            {% for task in tasks %}#}
                            <li>
                                <b>demius</b> - Администратор
                            </li>
                            <li>
                                <b>bezborodiy</b> - Дизайнер
                            </li>
                            <li>
                                <b>alloize</b> - PM проекта PRJ
                            </li>
                            <li>
                                <b>cult</b> - -
                            </li>
                            {#                            {% endfor %}#}
                        </ul>
                    {% endblock %}
                {% endembed %}
            </section>
        </div>
    </div>
{% endblock %}