{% extends 'base_layout.html.twig' %}
{% import 'project/_macro.html.twig' as mProject %}

{% block title %}{{ parent() }} - {{ 'Error_page.common.title'|trans }}{% endblock %}
{% block page_title%}{{ 'Error_page.common.title'|trans }}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block sidebar_nav %}
{#    По дефолту мы не имеем доступа к авторизованному пользователю на странице ошибки #}
{% endblock %}
{% block breadcrumb %}
{% endblock %}

{% block page_content %}
    <p>{{ 'Error_page.reason'|trans }}:{{ status_code }} - {{ status_text }}</p>
    <p>{{ 'Error_page.message'|trans }}:{{ exceptionMessage }}</p>
    <p>{{ 'Error_page.common.body'|trans }}</p>

{% endblock %}