<div id="table-filter-widget">
    <div class="row row-deck row-cards">
        {% for filter in table.filters %}
        <div class="filter-item col-sm-4 col-md-2">
            <div class="card">
                <div class="card-header">
                    {{ filter.label }}
                </div>
                <div class="card-body">
                    {%  for item in filter.items %}
                        <label class="form-check">
                            <input class="form-check-input" type="checkbox" name="{{ filter.name }}" value="{{ item.value }}" {{ item.checked ? "checked" : "" }}>
                            <span class="form-check-label">{{ item.label }}</span>
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="">
            <button class="btn btn-success btn-sm" type="button">Применить</button>
            <span v-model="submitQuery"></span>
        </div>
    </div>
</div>