<nav>
    <ul class="pagination">
        {% if table.pagination.previous is not null %}
            {{ _self.pageButton(table.pagination.previous) }}
        {% endif %}

        {% for page in table.pagination.pages  %}
            {{ _self.pageButton(page) }}
        {% endfor %}

        {% if table.pagination.next is not null %}
            {{ _self.pageButton(table.pagination.next) }}
        {% endif %}
    </ul>
</nav>
{% macro pageButton(page) %}
    {% if page.href is not null %}
        <li class="page-item {{ page.style }}">
            <a class="page-link" rel="prev" href="{{ page.href }}">
                {{ page.label|raw }}
            </a>
        </li>
    {% else %}
        <li class="page-item {{ page.style }}">
            <span class="page-link">{{ page.label|raw }}</span>
        </li>
    {% endif %}
{% endmacro %}