<nav>
    {% set p = table.pagination %}
    <ul class="pagination">
        {% if p.currentPage > 1 %}
            <li class="page-item">
                <a class="page-link" rel="prev" href="{{ table_paginate_link(table, p.currentPage - 1) }}">
                    «&nbsp;Назад
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">«&nbsp;Назад</span>
            </li>
        {% endif %}

        {% for i in 1..p.totalPages  %}
            {% if i == p.currentPage %}
                <li class="page-item active">
                    <span class="page-link">
                        {{ i }}
                    </span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ table_paginate_link(table, i) }}">
                        {{ i }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}

        {% if p.currentPage < p.totalPages %}
            <li class="page-item">
                <a class="page-link" rel="next" href="{{ table_paginate_link(table, p.currentPage + 1) }}">
                    Вперед&nbsp;»
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Вперед&nbsp;»</span>
            </li>
        {% endif %}
    </ul>
</nav>