
{% macro badge(project, withName = false, link = false) %}
    {% if link %}
        <a href="{{ path('project.index', {'suffix': project.suffix}) }}">
    {% endif %}
        <i class="{{ project.icon }}"></i>
        <b {{ project.isArchived ? 'class="style-deleted"' }}>{{ project.suffix }}</b>
        {% if withName %}
            - {{ project.name }}
            {% if project.isArchived %}<span class="label label-default">{{ 'archived'|trans }}</span>{% endif %}
            {% if not project.public %}
{# вобще это надо или регулировать флагом, или не вызывать в сниппете, но пока эта иконка не нужна нигде. #}
{#                {% if is_granted("PERM_PROJECT_VIEW", project) %}#}
{#                    <i class="fas fa-lock-open" title="{{ 'Access_granted'|trans }}"></i>#}
{#                {% endif %}#}
            {% endif %}
        {% endif %}
    {% if link %}
        </a>
    {% endif %}
{% endmacro %}

