
{% macro badge(project, withName = false, link = false) %}
    {% if link %}
        <a class="invisible_link" href="{{ path('project.index', {'suffix': project.suffix}) }}">
    {% endif %}
        <i class="fa fa-tasks-alt"></i>
        <b {{ project.isArchived ? 'class="style-deleted"' }}>{{ project.suffix }}</b>
        {% if withName %}
            - {{ project.name }}
            {% if project.isArchived %}<span class="label label-default">{{ 'archived'|trans }}</span>{% endif %}
            {% if not project.public %}
                {% if is_granted("PERM_PROJECT_VIEW") %}
                    <i class="fas fa-lock-open"></i>
                {% else %}
                    <i class="fas fa-lock"></i>
                {% endif %}
            {% endif %}
        {% endif %}
    {% if link %}
        </a>
    {% endif %}
{% endmacro %}

{% macro snippet(project, descriptionLength = 100, link = true) %}
    {# @TODO подумать а удобнее он нам в виде макроса, или шаблона. Хотя с дргуой стороны, там где он нужен
      шаблоном сильно все меняется, может сделать шаблон, который сунуть в макрос или использовать отдельно (а это вобще законно)
    #}
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {# все, что внутри embed теряет свой контекст, и _self здесь больше нет #}
        {% import 'project/_macro.html.twig' as this %}
        {% block box_title %}
            {{ this.badge(project, true, true) }}
        {% endblock %}
        {% block box_body %}
            <small  {{ project.isArchived ? 'class="style-disabled"' }}>
                {{ (descriptionLength == 0) ? project.description : project.description|u.truncate(descriptionLength, true) }}
            </small>
            <hr>
        {% endblock %}
    {% endembed %}
{% endmacro %}
