
{% macro badge(project, withName = false, link = false) %}
    {% if link %}
        <a href="{{ path('project.index', {'suffix': project.suffix}) }}">
    {% endif %}
        {% if not withName %}<i class="glyphicon glyphicon-tasks"></i>{% endif %}
        <b {{ project.isArchived ? 'class="style-deleted"' }}>{{ project.suffix }}</b>
        {% if withName %}
            - {{ project.name }}
            {% if project.isArchived %}<span class="label label-default">{{ 'archived'|trans }}</span>{% endif %}
            {% if not project.public %}
                {% if is_granted("PERM_PROJECT_VIEW", project) %}
                    <i class="fas fa-lock-open" title="{{ 'Access_granted'|trans }}"></i>
                {% endif %}
            {% endif %}
        {% endif %}
    {% if link %}
        </a>
    {% endif %}
{% endmacro %}

{% macro snippet(project, descriptionLength = 100, link = true) %}
    {# @TODO подумать а удобнее он нам в виде макроса, или шаблона. Хотя с дргуой стороны, там где он нужен
      шаблоном сильно все меняется, может сделать шаблон, который сунуть в макрос или использовать отдельно (а это вобще законно)
    #}
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {# все, что внутри embed теряет свой контекст, и _self здесь больше нет #}
        {% import 'project/_macro.html.twig' as this %}
        {% import 'user/_macro.html.twig' as mUser %}
        {% block box_title %}
            <span class="project-title">{{ this.badge(project, true, true) }}</span>
        {% endblock %}
        {% block box_body %}
            <div class="row project-property-string">
                <div class="col-md-6">
                    {{ 'project.pm.short'|trans }}: {{ project.pm ? mUser.badge(project.pm) : mUser.nobody() }}
                </div>
                <div class="col-md-6">
                    {% if project.isArchived %}<span class="label label-default">{{ 'archived'|trans }}</span>{% endif %}
                    {% if not project.public %}
                        {% if is_granted("PERM_PROJECT_VIEW", project) %}
                            <i class="fas fa-lock-open">{{ 'Access_granted'|trans }}</i>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <small>
                {{ (descriptionLength == 0) ? project.description : project.description|u.truncate(descriptionLength, true) }}
            </small>
            <hr>
        {% endblock %}
    {% endembed %}
{% endmacro %}
