{% extends 'base_layout.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}project.create{% endtrans %}{% endblock %}
{% block page_title%}{% trans %}project.new_project{% endtrans %}{% endblock %}

{% block page_content %}
    <div class="card">
    {{ form_start(form) }}
        <div class="card-body">
{#            <div class="card-title">#}
{#  пока это повторяет заголовок, но может это будет многостраницчный мастер, и десь будет описание шага #}
{#            </div>#}
            {{ form_row(form.suffix) }}
            {{ form_row(form.name) }}
            {{ form_row(form.icon) }}
            {{ form_row(form.pm) }}
            {{ form_row(form.isPublic) }}
            {{ form_row(form.description) }}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success">{{ 'Create'|trans }}</button>
        </div>
    {{ form_end(form) }}
    </div>
{% endblock %}