{% extends 'one_block_layout.html.twig' %}

{% block title %}{{ project.name}} - {{ 'project.edit.title'|trans }}/{% block edit_page_title %}{% endblock %}{% endblock %}
{% block page_title%}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block box_title %}
    {{ project.name }} - {{ 'project.edit.title'|trans }}
{% endblock %}
{% block box_body %}
    <ul class="nav nav-tabs">
        {% set currentPage = app.request.attributes.get('_route') %}
        <li {% if currentPage == 'project.edit' %}class="active"{% endif %}>
            <a href="{{ path('project.edit', {'suffix':project.suffix}) }}">{{ 'project.edit.common'|trans }}</a>
        </li>
        <li {% if currentPage == 'project.edit.task_settings' %}class="active"{% endif %}>
            <a href="{{ path('project.edit.task_settings', {'suffix':project.suffix}) }}">{{ 'project.edit.task_settings'|trans }}</a>
        </li>
        <li {% if currentPage == 'project.edit.permissions' %}class="active"{% endif %}>
            <a href="{{ path('project.edit.permissions', {'suffix':project.suffix}) }}">{{ 'project.edit.permsions'|trans }}</a>
        </li>
    </ul>
    <div class="one-block-content">
    {% block edit_page %}
    {% endblock %}
    </div>
{% endblock %}
