{% extends 'project/edit.base.html.twig' %}

{% block title %}
    {{- parent() }} / {{ 'project.edit.common'|trans -}}
{% endblock %}

{% block edit_page_body %}
<div class="col-xl-6 col-lg-8 col-md-12">
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.icon) }}
        {{ form_row(form.description) }}
</div>
{% endblock %}

{% block edit_page_footer %}
        <button type="submit" class="btn btn-success">{{ 'Edit'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}

{% block edit_page_after %}
<div class="card">
    <div class="card-body">
        <div class="card-title">
            {{ 'SpecialActions'|trans }}
        </div>
        <div class="btn-group-vertical w-100">
            <button
                    class="btn btn-secondary btn-danger need-confirm"
                    data-action="{{ path('project.archive', {'suffix':project.suffix}) }}"
                    data-text="{{ 'project.archive.confirm'|trans|nl2br }}"
            >
                {{ 'Archive'|trans }}
            </button>
        </div>
    </div>
</div>
{% endblock %}