{% extends 'project/edit.base.html.twig' %}

{% block title %}
    {{- parent() }} / {{ 'project.edit.permsions'|trans -}}
{% endblock %}

{% block edit_page_body %}
{{ form_start(form) }}
    <div class="row">
        {{ form_row(form.isPublic) }}
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.pm) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            {{ form_row(form.staff) }}
        </div>
        <div class="col-12 col-md-6">
            {{ form_row(form.visitors) }}
        </div>
    </div>
{% endblock %}

{% block edit_page_footer %}
    <button type="submit" class="btn btn-success">{{ 'Edit'|trans }}</button>
{{ form_end(form) }}
{% endblock %}