{% extends 'project/edit.base.html.twig' %}

{% block title %}
    {{- parent() -}} / {{- 'project.edit.task_settings'|trans -}}
{% endblock %}

{% block edit_page_body %}
    {{ form_start(form) }}
    <div class="project-settings-blocks">
        <div class="row row-cols-md-2">
            <div class="col">
                {{ form_row(form.types) }}
            </div>
            <div class="col-">
                {{ form_row(form.stages) }}
            </div>
            <div class="col">
                {{ form_row(form.priority) }}
            </div>
            <div class="col">
                {{ form_row(form.complexity) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block edit_page_footer %}
    <button type="submit" class="btn btn-success">{{ 'Edit'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}