{% extends 'base.html.twig' %}
{% import 'project/macro.html.twig' as mProject %}

{% block title %}{{ project.name}}{% endblock %}
{% block page_title%}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-8">
            {{ mProject.snippet(project, 0) }}
        </div>
        <div class="col-md-2">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}
                    {{ 'ControlPanel'|trans }}
                {% endblock  %}
                {% block box_body %}
                    <div class="btn-group-vertical" role="toolbar" aria-label="{{ 'ControlPanel'|trans }}">
                        <a class="btn btn-default btn-secondary" href="{{ path('project.edit', {'suffix':project.suffix}) }}">{{ 'Edit'|trans }}</a>
                        <button
                                class="btn btn-secondary btn-danger need-confirm"
                                data-action="{{ path('project.archive', {'suffix':project.suffix}) }}"
                                data-text="{{ 'project.archive.confirm'|trans|nl2br }}"
                        >
                            {{ 'Archive'|trans }}
                        </button>
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
    <div class="row">
        {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
            {% block box_title %}{{ 'Tasks'|trans }}{% endblock %}
            {% block box_body %}
                <table class="table table-condensed">
                    <tr>
                        <th>#</th>
                        <th>{{ 'task.caption'|trans }}</th>
                        <th>{{ 'task.created'|trans }}</th>
                        <th>{{ 'task.updated'|trans }}</th>
                    </tr>
                    {%  for task in tasks %}
                        <tr>
                            <td><a href="{{ path('task.index', {'taskId': task.taskId}) }}">{{ task.no }}</a></td>
                            <td><a href="{{ path('task.index', {'taskId': task.taskId}) }}">{{ task.caption }}</a></td>
                            <td>{{ task.createdAt|date('d F Y  H:i:s') }}</td>
                            <td>{{ task.updatedAt|date('d F Y  H:i:s') }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}