{% extends 'base_layout.html.twig' %}
{% import 'project/_macro.html.twig' as mProject %}

{% block title %}{{ project.name}}{% endblock %}
{% block page_title%}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-10">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {# все, что внутри embed теряет свой контекст, и _self здесь больше нет #}
                {% import 'project/_macro.html.twig' as this %}
                {% import 'user/_macro.html.twig' as mUser %}
                {% block box_title %}
                    <span class="project-title">{{ this.badge(project, true, true) }}</span>
                {% endblock %}
                {% block box_body %}
                    <div class="project-snippet">
                        <div class="row security-row">
                            <div class="col-md-6">
                                {{ 'project.pm.short'|trans }}: {{ project.pm ? mUser.badge(project.pm) : mUser.nobody() }}
                            </div>
                            <div class="col-md-6">
                                {% if project.isArchived %}<span class="label label-default">{{ 'archived'|trans }}</span>{% endif %}
                                {% if not project.public and is_granted("PERM_PROJECT_VIEW", project) %}
                                    <i class="fas fa-lock-open pull-right" title="{{ 'Access_granted.description'|trans }}">{{ 'Access_granted.label'|trans }}</i>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row date-row">
                            <div class="col-md-4">
                                {{ 'project.updatedAt'|trans }}: {{ project.updatedAt|ago }}
                            </div>
                            <div class="col-md-4">
                                {{ 'project.createdAt'|trans }}: {{ project.createdAt|ago }}
                            </div>
                        </div>
                        <hr>
                        <div class="row description-row">
                            <div class="col-md-12">
                                {{ project.description|markdown_to_html }}
                            </div>
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
        <div class="col-md-2">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}
                    {{ 'ControlPanel'|trans }}
                {% endblock  %}
                {% block box_body %}
                    <div class="btn-group-vertical" role="toolbar" aria-label="{{ 'ControlPanel'|trans }}">
                        <div class="btn-group-vertical" role="group" aria-label="{{ 'Common'|trans }}">
                            {% if is_granted('PERM_TASK_CREATE') and not project.isArchived() %}
                                <a class="btn btn-default btn-secondary" href="{{ path('task.project_create', {'suffix':project.suffix}) }}">{{ 'Create_task'|trans }}</a>
                            {% endif %}
                            {% if is_granted('PERM_DOC_CREATE') and not project.isArchived() %}
                                <a class="btn btn-default btn-secondary" href="{{ path('doc.project_create', {'suffix':project.suffix}) }}">{{ 'Create_doc'|trans }}</a>
                            {% endif %}
                        </div>

                        <div class="btn-group-vertical" role="group" aria-label="{{ 'Maintenance'|trans }}">
                            {% if is_granted('PERM_PROJECT_SETTINGS') %}
                                <a class="btn btn-default btn-secondary" href="{{ path('project.edit', {'suffix':project.suffix}) }}">{{ 'Edit_project'|trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
            {% import 'task/_macro.html.twig' as mTask %}
            {% block box_title %}
                <a href="{{ path('task.list', {'suffix': project.suffix}) }}">{{ 'Tasks'|trans }}</a>
            {% endblock %}
            {% block box_body %}
                {{ mTask.table(tasks) }}
            {% endblock %}
        {% endembed %}
        </div>
        <div class="col-md-6">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% import 'doc/_macro.html.twig' as mDoc %}
                {% block box_title %}
                    <a href="{{ path('doc.list', {'suffix': project.suffix}) }}">{{ 'Docs'|trans }}</a>
                {% endblock %}
                {% block box_body %}
                    {{ mDoc.table(docs) }}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}