{% extends 'base_layout.html.twig' %}
{% import 'project/_macro.html.twig' as mProject %}

{% block title %}{{ project.name}}{% endblock %}
{% block page_title%}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-10">
            {{ mProject.snippet(project, 0) }}
        </div>
        <div class="col-md-2">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}
                    {{ 'ControlPanel'|trans }}
                {% endblock  %}
                {% block box_body %}
                    <div class="btn-group-vertical" role="toolbar" aria-label="{{ 'ControlPanel'|trans }}">
                        {% if is_granted('PERM_TASK_CREATE') %}
                            <div class="btn-group-vertical" role="group" aria-label="{{ 'Tasks'|trans }}">
                                <a class="btn btn-default btn-secondary" href="{{ path('task.project_create', {'suffix':project.suffix}) }}">{{ 'Create_task'|trans }}</a>
                            </div>
                        {% endif %}
                        <div class="btn-group-vertical" role="group" aria-label="{{ 'Projects'|trans }}">
                            {% if is_granted('PERM_PROJECT_SETTINGS') %}
                                <a class="btn btn-default btn-secondary" href="{{ path('project.edit', {'suffix':project.suffix}) }}">{{ 'Edit_project'|trans }}</a>
                            {% endif %}
                            {% if is_granted('PERM_PROJECT_ARCHIVE') %}
                                <button
                                        class="btn btn-secondary btn-danger need-confirm"
                                        data-action="{{ path('project.archive', {'suffix':project.suffix}) }}"
                                        data-text="{{ 'project.archive.confirm'|trans|nl2br }}"
                                >
                                    {{ 'Archive'|trans }}
                                </button>
                            {% endif %}
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
            {% import 'task/_macro.html.twig' as mTask %}
            {% block box_title %}
                <a href="{{ path('task.list', {'suffix': project.suffix}) }}">{{ 'Tasks'|trans }}</a>
            {% endblock %}
            {% block box_body %}
                {{ mTask.table(tasks) }}
            {% endblock %}
        {% endembed %}
        </div>
        <div class="col-md-6">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% import 'doc/_macro.html.twig' as mDoc %}
                {% block box_title %}
                    <a href="{{ path('doc.list', {'suffix': project.suffix}) }}">{{ 'Docs'|trans }}</a>
                {% endblock %}
                {% block box_body %}
                    {{ mDoc.table(docs) }}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}