{% extends 'base_layout.html.twig' %}
{% import 'project/_macro.html.twig' as mProject %}

{% block title %}{{ 'project.list'|trans }}{% endblock %}
{% block page_title%}
    {{ 'project.list'|trans }}
    <!--suppress HtmlUnknownTag -->
    <span class="dropdown">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-filter"></i> </button>
        <ul class="dropdown-menu" role="menu">
            {{ form_start(filterForm, {'attr': {'class': 'autoupdate'}}) }}
            <li>
                {{ form_widget(filterForm.isArchived) }}
            </li>
            {{ form_end(filterForm) }}
        </ul>
    </span>
{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    {% if is_granted("PERM_PROJECT_CREATE") %}
        {% set projects = projects|merge(['create']) %}
    {% endif %}

    {% for project in projects %}
        {% if loop.index0 is divisible by(4) %}
            <div class="row">
        {% endif %}
            <div class="col-md-3">
                {% if project != 'create' %}
                    {% include 'project/_project_block.twig' with { 'project':project, 'descriptionLength': 500 } %}
                {% else %}
                    <div class="card">
                        <div class="card-status-top bg-green"></div>
                        <div class="card-header card-header-light">
                            <h3 class="card-title">
                                {{ 'project.new_project'|trans }}
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="col-sm">
                                    <a class="btn btn-success btn-lg" href="{{ path('project.create') }}">{{ 'project.create'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% if loop.index is divisible by(4) %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}