{% extends 'base_layout.html.twig' %}
{% import 'project/_macro.html.twig' as mProject %}

{% block title %}{{ 'project.list'|trans }}{% endblock %}
{% block page_title%}
    {{ 'project.list'|trans }}
    <!--suppress HtmlUnknownTag -->
    <span class="dropdown">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-filter"></i> </button>
        <ul class="dropdown-menu" role="menu">
            {{ form_start(filterForm, {'attr': {'class': 'autoupdate'}}) }}
            <li>
                {{ form_widget(filterForm.isArchived) }}
            </li>
            {{ form_end(filterForm) }}
        </ul>
    </span>
{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    {% if is_granted("PERM_PROJECT_CREATE") %}
        {% set projects = projects|merge(['create']) %}
    {% endif %}

    {% for project in projects %}
        {% if loop.index0 is divisible by(4) %}
            <div class="row">
        {% endif %}
            <div class="col-md-3">
                {% if project != 'create' %}
                    {{ mProject.snippet(project, 500) }}
                {% else %}
                    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                        {% block box_title %}
                            {{ 'project.new_project'|trans }}
                        {% endblock %}
                        {% block box_body %}
                            <div class="text-center">
                            <a class="btn btn-success btn-lg" href="{{ path('project.create') }}">{{ 'project.create'|trans }}</a>
                            </div>
                        {% endblock %}
                    {% endembed %}
                {% endif %}
            </div>
        {% if loop.index is divisible by(4) %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}