{% macro badge(user, link = true, short = true) %}
    {% if user %}
        {% if link %}
            <a class="invisible_link" href="{{ path('user.index', {'username': user.username}) }}">
        {% endif %}
        <i class="far fa-user"></i>
        <span {{ user.isLocked ? 'class="style-deleted"' }}>{{ user.username }}</span>
            {% if not short %}
                {{ badges(user) }}
            {% endif %}
        {% if link %}
            </a>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro nobody(case = 'nominative') %}
    {{ 'nobody'|trans({'case': case}) }}
{% endmacro %}