{% macro badge(user, link = true, short = true) %}
    {% if user %}
        {% if link %}
            <a class="invisible_link" href="{{ path('user.index', {'username': user.username}) }}">
        {% endif %}
        <i class="fa fa-user"></i>
        <span {{ user.isLocked ? 'class="style-deleted"' }}>{{ user.username }}</span>
            {% if not short %}
                {% if user.hasRole("PROLE_PM", project_manager.project) %}
                    <span class="label label-success" title="{{ 'role.project_manager'|trans }}">{{ 'role.pm'|trans }}</span>
                {% endif %}
                {% if user.isLocked %}
                    <span class="label label-default"><i class="fa fa-ban" title="{{ 'locked'|trans }}"></i> </span>
                {% endif %}
            {% endif %}
        {% if link %}
            </a>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro nobody(case = 'nominative') %}
    {{ 'nobody'|trans({'case': case}) }}
{% endmacro %}