{% macro badge(user, link = true, short = true, case = 'nominative') %}
    {% if user %}
        {% if link %}
            <a class="invisible_link" href="{{ path('user.index', {'username': user.username}) }}">
        {% endif %}
        <span class="user-badge {{ user.isLocked ? 'locked' -}}"><i class="far fa-user"></i>&nbsp;{{- user.username }}</span>
            {% if not short %}
                {{ badges(user) }}
            {% endif %}
        {% if link %}
            </a>
        {% endif %}
    {% else %}
        <i>{{ _self.nobody(case) }}</i>
    {% endif %}
{% endmacro %}

{% macro nobody(case = 'nominative') %}
    {{ 'nobody'|trans({'case': case}) }}
{% endmacro %}