{% extends 'base_layout.html.twig' %}

{% block title %}TnDT {{ 'User_list'|trans }}{% endblock %}
{% block page_title %}  {% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-10">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% import 'user/_macro.html.twig' as mUser %}

                {% block box_title %}
                    {{ 'User_list'|trans }}
                {% endblock %}
                {% block box_body %}
                    <table class="table table-condensed">
                        <tr>
                            <th>{{ knp_pagination_sortable(users, 'user.username.label'|trans, 'root.username') }}</th>
                            <th>{{ knp_pagination_sortable(users, 'user.name.label'|trans, 'root.name') }}</th>
                            <th>{{ 'user.roles.label'|trans }}</th>
                            <th>{{ knp_pagination_sortable(users, 'user.createdAt.label'|trans, 'root.createdAt') }}</th>
                            <th>{{ knp_pagination_sortable(users, 'user.lastLogin.label'|trans, 'root.lastLogin') }}</th>
                        </tr>
                        {%  for user in users %}
                            <tr>
                                <td><a href="{{ path('user.index', {'username': user.username}) }}" class="invisible_link">
                                    {{ mUser.badge(user) }}
                                </a></td>
                                <td>{{ user.name }}</td>
                                <td>{{ role_label_list(user.roles) }}</td>
                                <td>{{ user.createdAt|ago }}</td>
                                <td>{{ user.lastLogin|ago }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <hr>
                    <nav class="center-block">
                        {{ knp_pagination_render(users) }}
                    </nav>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}