{% macro caption(doc, limit = null) %}
    <a class="invisible_link" href="{{ path('doc.index', doc.getUrlParams) }}">
        {% if doc.isArchived %}
            <span class="text-muted">
        {% endif %}
            {% set label = doc.caption %}
            {% if limit %}{% set label = label|u.truncate(limit, '...') %}{% endif %}
            {{ label }}
            {{ badges(doc) }}
        {% if doc.isArchived %}
            </span>
        {% endif %}
    </a>
{% endmacro %}

{% macro badge(doc, withName = false, link = false) %}
    {% if link %}
        <a class="invisible_link" href="{{ path('doc.index', doc.getUrlParams) }}">
    {% endif %}
    {% if doc.isArchived %}
        <span class="text-muted">
    {% endif %}
            <i class="far fa-file-alt"></i>
            {% import _self as this %}
            {{ doc.docId }}
            {% if withName %}
                - {{ doc.caption|u.truncate(100, '...') }}
                {% if doc.isArchived %}<span class="label label-default">{{ 'archived'|trans }}</span>{% endif %}
            {% endif %}
            {{ badges(doc) }}
    {% if doc.isArchived %}
        </span>
    {% endif %}
    {% if link %}
        </a>
    {% endif %}
{% endmacro %}

{% macro table(docs) %}
    {% import _self as this %}
    {% import 'user/_macro.html.twig' as mUser %}
    <table class="table table-condensed">
        <tr>
            <th>#</th>
            <th>{{ 'doc.caption.label'|trans }}</th>
            <th>{{ 'doc.updatedBy.label'|trans }}</th>
            <th>{{ 'doc.updated.label'|trans }}</th>
        </tr>
        {%  for doc in docs %}
            <tr>
                <td><a class="invisible_link" href="{{ path('doc.index', doc.getUrlParams) }}">{{ doc.no }}</a></td>
                <td>{{ this.caption(doc, 80) }}</td>
                <td>{{ mUser.badge(doc.updatedBy) }}</td>
                <td>{{ doc.updatedAt|ago }}</td> {# localizeddate('medium', 'medium') #}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}