{% macro caption(doc, limit = null) %}
<span class="doc {{ doc.isArchived ? 'doc-archived'}}">
    <a class="doc-link" href="{{ path('doc.index', doc.getUrlParams) }}">
        {% set label = doc.caption %}
        {% if limit %}{% set label = label|u.truncate(limit, '...') %}{% endif %}
        {{ label }}
    </a>
</span>
{% endmacro %}

{% macro docString(doc, link = true) %}
<span class="doc {{ doc.isArchived ? 'doc-archived'}}">
    {% if link %}
        <a class="doc-link" href="{{ path('doc.index', doc.getUrlParams) }}">
    {% endif %}
        {{ icon('tabler-file-text') }}
        {% import _self as this %}
        {{ doc.docId }} - {{ doc.caption|u.truncate(100, '...') }}
        {{ badges(doc) }}
    {% if link %}
        </a>
    {% endif %}
</span>
{% endmacro %}

{% macro badge(doc, link = true) %}
<span class="doc {{ doc.isArchived ? 'doc-archived'}}">
    {% if link %}
        <a class="doc-link" href="{{ path('doc.index', doc.getUrlParams) }}">
    {% endif %}
        {{ doc.docId }}
    {% if link %}
        </a>
    {% endif %}
</span>
{% endmacro %}
