{% extends 'base.html.twig' %}

{% block title %}{{ doc.docId }} - {{ 'doc.edit'|trans }}{% endblock %}
{% block page_title%}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    {{ form_start(form) }}
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_title %}
            {{ doc.docId }} - {{ 'doc.edit'|trans }}
        {% endblock %}
        {% block box_body %}
            {{ form_row(form.caption) }}
            {{ form_row(form.abstract) }}
            {{ form_row(form.body) }}
            <hr>
            <button type="submit" class="btn btn-success">{{ 'Edit'|trans }}</button>
        {% endblock %}
    {% endembed %}
    {{ form_end(form) }}
{% endblock %}