{% extends 'base_layout.html.twig' %}

{% block title %}{{ doc.docId }} - {{ 'doc.edit'|trans }}{% endblock %}
{% block page_title%}{{ doc.docId }} - {{ 'doc.edit'|trans }}{% endblock %}

{% block page_content %}
<div class="row row-cards">
    <div class="col-sm-12 col-xxl-10">
        <div class="card">
            {{ form_start(form) }}
            <div class="card-body">
                <div class="col-md-12">
                    {{ form_row(form.caption) }}
                </div>
                <div class="row">
                    <div class="col-md-8">
                        {{ form_row(form.abstract) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.state) }}
                    </div>
                </div>
                <div class="col-md-12">
                    {{ form_row(form.body) }}
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success">{{ 'Edit'|trans }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}