{% extends 'one_block_layout.html.twig' %}

{% block title %}{{ doc.docId }} - {{ 'doc.edit'|trans }}{% endblock %}
{% block page_title%}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block box_title %}
    {{ doc.docId }} - {{ 'doc.edit'|trans }}
{% endblock %}
{% block box_body %}
    {{ form_start(form) }}
    {{ form_row(form.caption) }}
    {{ form_row(form.abstract) }}
    {{ form_row(form.body) }}
{% endblock %}

{% block box_footer %}
    <div class="pull-right">
        <button type="submit" class="btn btn-success">{{ 'Edit'|trans }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}