{% extends 'base_layout.html.twig' %}


{% block title %} {{ doc.docId }} - {{ doc.caption }} {% endblock %}
{% block page_title%} {% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-10">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% import 'doc/_macro.html.twig' as mDoc %}
                {% import 'user/_macro.html.twig' as mUser %}

                {% block box_title %}
                    {{ mDoc.badge(doc, true) }}
                {% endblock %}
                {% block box_body %}
                    <div class="row">
                        <div class="col-md-6 doc-property-string">
                            {{ 'doc.createdBy.label'|trans }} {{ mUser.badge(doc.createdBy, true, false) }}
                            {{ doc.createdAt|ago }};
                            {{ 'doc.updatedBy.label'|trans }} {{ doc.updatedBy ? mUser.badge(doc.updatedBy, true, false) : mUser.nobody('instrumental') }}
                            {{ doc.updatedAt|ago }}
                        </div>
                    </div>
                    {% if doc.abstract %}
                        <div class="panel panel-default">
                            <a data-toggle="collapse" data-parent="#accordion" href="#abstract-panel"><div class="panel-heading">
                                <h3 class="panel-title">{{ 'Abstract'|trans }}</h3>
                            </div></a>
                            <div id="abstract-panel" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {{ doc.abstract|markdown_to_html }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <p>{{ doc.body|markdown_to_html }}</p>
                {% endblock %}
            {% endembed %}
        </div>
        <div class="col-md-2">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}
                    {{ 'ControlPanel'|trans }}
                {% endblock  %}
                {% block box_body %}
                    <div class="btn-group-vertical" role="toolbar" aria-label="{{ 'ControlPanel'|trans }}">
                        {% for control in controls %}
                            {% if control.needConfirm %}
                                <button
                                        class="btn btn-secondary {{ control.class }} need-confirm"
                                        data-action="{{ control.action }}"
                                        data-text="{{ control.needConfirm }}"
                                >
                                    {{ control.label }}
                                </button>
                            {% else %}
                                <a class="btn btn-default {{ control.class}}" href="{{ control.action }}">{{ control.label }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endblock %}
            {% endembed %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}
                    {{ 'Works.title'|trans }}
                {% endblock %}
                {% block box_body %}
                    <ul class="nav nav-tabs">
                        {% set currentTab = app.request.query.get('tab', 'comments') %}
                        <li {% if currentTab == 'comments' %}class="active"{% endif %}>
                            <a href="{{ path('doc.index', doc.getUrlParams({'tab': 'comments'})) }}">{{ 'Works.comments'|trans }}</a>
                        </li>
                        <li {% if currentTab == 'activity' %}class="active"{% endif %}>
                            <a href="{{ path('doc.index', doc.getUrlParams({'tab': 'activity'})) }}">{{ 'Works.activity'|trans }}</a>
                        </li>
                    </ul>
                    <div class="one-block-content">
                        {% if currentTab == 'comments' %}
                            {{ comment_widget(doc) }}
                        {% elseif currentTab == 'activity' %}
                            <div id="activity-widget">
                                <activity-timeline action="{{ path('activity.list', {'type': 'doc', 'id': doc.id})}}"></activity-timeline>
                            </div>
                        {% endif %}
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}