{% extends 'base_layout.html.twig' %}


{% block title %} {{ doc.docId }} - {{ doc.caption }} {% endblock %}
{% block page_title%}{{ doc.docId }} - {{ doc.caption }}{% endblock %}

{% block page_head_control %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="btn-group" role="toolbar" aria-label="{{ 'ControlPanel'|trans }}">
            {% for control in controls %}
                {% if control.needConfirm %}
                    <button
                            class="btn {{ control.class }} need-confirm"
                            data-action="{{ control.action }}"
                            data-text="{{ control.needConfirm }}"
                    >
                        {{ control.label }}
                    </button>
                {% else %}
                    <a class="btn {{ control.class }}" href="{{ control.action }}">{{ control.label }}</a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock%}

{% block page_content %}
<div class="row row-cards">
    <div class="col col-xxl-10">
        <div class="card h-100">
            {% import 'doc/_macro.html.twig' as mDoc %}
            {% import 'user/_macro.html.twig' as mUser %}
            <div class="card-status-top bg-blue"></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 doc-property-string">
                        {{ 'doc.createdBy.label'|trans }} {{ mUser.badge(doc.createdBy, true, false) }}
                        {{ doc.createdAt|ago }};
                        {{ 'doc.updatedBy.label'|trans }} {{ doc.updatedBy ? mUser.badge(doc.updatedBy, true, false) : mUser.nobody('instrumental') }}
                        {{ doc.updatedAt|ago }}
                    </div>
                </div>
                {% if doc.abstract %}
                    <div class="hr-text doc-abstract-ctrl" >
                        <a data-bs-toggle="collapse" data-bs-target="#abstract" href="#abstract">{{ 'Abstract'|trans }}</a>
                    </div>
                    <div id="abstract" class="collapse">
                        <div class="card card-body markdown">
                            {{ doc.abstract|markdown_to_html }}
                        </div>
                    </div>
                {% endif %}
                <span class="markdown">{{ doc.body|markdown_to_html }}</span>
            </div>
        </div>
    </div>
</div>
<div class="row row-cards">
    <div class="col-xl-8 col-lg-10 col-sm-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    {% set currentTab = app.request.query.get('tab', 'comments') %}
                    <li class="nav-item">
                        <a class="nav-link {{ currentTab == 'comments' ? 'active' : '' -}}"
                           href="{{ path('doc.index', doc.getUrlParams({'tab': 'comments'})) }}"
                        >
                            {{ icon('messages.svg')}} {{ 'Works.comments'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link {{ currentTab == 'activity' ? 'active' : '' -}}"
                            href="{{ path('doc.index', doc.getUrlParams({'tab': 'activity'})) }}"
                        >
                            {{ icon('activity.svg')}} {{ 'Works.activity'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active show">
                    {% if currentTab == 'comments' %}
                        {{ comment_widget(doc) }}
                    {% elseif currentTab == 'activity' %}
                        <div id="activity-widget">
                            <activity-timeline action="{{ path('activity.list', {'type': 'doc', 'id': doc.id})}}"></activity-timeline>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}