{% extends 'base_layout.html.twig' %}

{% import 'project/_macro.html.twig' as mProject %}

{% block title %}{{ project.suffix }} - {{ 'Doc_list'|trans }}{% endblock %}
{% block page_title %}{{ 'Doc_list'|trans }}{% endblock %}

{% block page_content %}
<div class="row row-cards">
    <div class="col">
        <div class="card">
            {% import 'doc/_macro.html.twig' as mDoc %}
            {% import 'user/_macro.html.twig' as mUser %}

            <div class="card-status-top bg-blue"></div>
            <div class="card-table table-responsive">
                <table class="table table-vcenter">
                    <thead>
                        <tr>
                            <th class="no">{{ knp_pagination_sortable(docs, 'doc.No'|trans, 't.no') }}</th>
                            <th class="caption" >{{ knp_pagination_sortable(docs, 'doc.caption.label'|trans, 't.caption') }}</th>
                            <th>{{ knp_pagination_sortable(docs, 'doc.created.label'|trans, 't.createdAt') }}</th>
                            <th>{{ knp_pagination_sortable(docs, 'doc.createdBy.label'|trans, 't.createdBy') }}</th>
                            <th>{{ knp_pagination_sortable(docs, 'doc.updated.label'|trans, 't.updatedAt') }}</th>
                            <th>{{ knp_pagination_sortable(docs, 'doc.updatedBy.label'|trans, 't.updatedBy') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {%  for doc in docs %}
                        <tr>
                            <td class="no">
                                <a class="invisible_link" href="{{ path('doc.index', doc.getUrlParams) }}">
                                    <span class="{{ doc.isArchived ? 'text-muted' }}">
                                        {{ doc.no }}
                                    </span>
                                </a>
                            </td>
                            <td class="caption">
                                {{ mDoc.caption(doc, 160) }}
                            </td>
                            <td>{{ doc.createdAt|ago }}</td>
                            <td>{{ mUser.badge(doc.createdBy, true, false) }}</td>
                            <td>{{ doc.updatedAt|ago }}</td>
                            <td>{{ mUser.badge(doc.updatedBy, true, false) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                    <span class="m-0">
                        {{ knp_pagination_render(docs) }}
                    </span>
            </div>
        </div>
{% endblock %}