{% extends 'base.html.twig' %}

{% block title %}{{ project.suffix }} - {{ 'Doc_list'|trans }}{% endblock %}
{% block page_title %}  {% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% import 'project/_macro.html.twig' as mProject %}
        {% import 'doc/_macro.html.twig' as mDoc %}
        {% import 'user/_macro.html.twig' as mUser %}

        {% block box_title %}
            {{ mProject.badge(project) }} - {{ 'Doc_list'|trans }}
        {% endblock %}
        {% block box_body %}
            <table class="table table-condensed doc-table">
                <colgroup>
                    <col class="doc-col-no">
                    <col class="doc-col-caption">
                    <col>
                    <col>
                </colgroup>
                <tr>
                    <th scope="col">{{ knp_pagination_sortable(docs, 'doc.No'|trans, 't.no') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(docs, 'doc.caption.label'|trans, 't.caption') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(docs, 'doc.created.label'|trans, 't.createdAt') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(docs, 'doc.createdBy.label'|trans, 't.createdBy') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(docs, 'doc.updated.label'|trans, 't.updatedAt') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(docs, 'doc.updatedBy.label'|trans, 't.updatedBy') }}</th>
                </tr>
                {%  for doc in docs %}
                    <tr>
                        <td class="doc-col-no">
                            <a class="invisible_link" href="{{ path('doc.index', doc.getUrlParams) }}">
                                <span class="{{ doc.isArchived ? 'text-muted' }}">
                                    {{ doc.no }}
                                </span>
                            </a>
                        </td>
                        <td>
                            <a class="invisible_link" href="{{ path('doc.index', doc.getUrlParams) }}">
                                <span class="{{ doc.isArchived ? 'text-muted' }}">
                                    {{ doc.caption|u.truncate(160) }}
                                </span>
                                {% if doc.isArchived %}<span class="label label-default">{{ 'archived'|trans }}</span>{% endif %}
                            </a>
                        </td>
                        <td>{{ doc.createdAt|ago }}</td>
                        <td>{{ mUser.badge(doc.createdBy, true, false) }}</td>
                        <td>{{ doc.updatedAt|ago }}</td>
                        <td>{{ mUser.badge(doc.updatedBy, true, false) }}</td>
                    </tr>
                {% endfor %}
            </table>
            <hr>
            <nav class="text-center">
                {{ knp_pagination_render(docs) }}
            </nav>
        {% endblock %}
    {% endembed %}
{% endblock %}