{% macro caption(doc, limit = null) %}
    <a class="invisible_link" href="{{ path('doc.index', doc.getUrlParams) }}">
        {{ doc.caption()|u.truncate(limit) }}
    </a>
{% endmacro %}

{% macro badge(doc, withName = false, link = false) %}
    {% if link %}
        <a class="invisible_link" href="{{ path('doc.index', doc.getUrlParams) }}">
    {% endif %}
    <span {{ doc.isArchived ? 'class="text-muted"' }}>
        <i class="far fa-file-alt"></i>
        {% import _self as this %}
        {{ doc.docId }}
        {% if withName %}
            - {{ doc.caption|u.truncate(100) }}
            {% if doc.isArchived %}<span class="label label-default">{{ 'archived'|trans }}</span>{% endif %}
        {% endif %}
    </span>
    {% if link %}
        </a>
    {% endif %}
{% endmacro %}

{% macro table(docs) %}
    {% import _self as this %}
    <table class="table table-condensed">
        <tr>
            <th>#</th>
            <th>{{ 'doc.caption.label'|trans }}</th>
            <th>{{ 'doc.created.label'|trans }}</th>
            <th>{{ 'doc.updated.label'|trans }}</th>
        </tr>
        {%  for doc in docs %}
            <tr>
                <td><a class="invisible_link" href="{{ path('doc.index', doc.getUrlParams) }}">{{ doc.no }}</a></td>
                <td>{{ doc.caption|u.truncate(160) }}</td>
                <td>{{ doc.createdAt|ago }}</td>
                <td>{{ doc.updatedAt|ago }}</td> {# localizeddate('medium', 'medium') #}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}